.cart-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.cart-container h2 {
  color: #111;
}
.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #111;
  border-radius: 5px;
}

.item-image {
  width: 100px;
  height: 100px;
  margin-right: 20px;
}

.item-details {
  flex-grow: 1;
}

.item-details h3 {
  margin: 0;
}

.delete-button {
  background-color: #dc3545;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 8px 15px;
  cursor: pointer;
}

.validate-button {
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 20px;
}

.validate-button:hover,
.delete-button:hover {
  opacity: 0.8;
}
