@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --bg-header: rgb(255, 85, 85);
    --main: rgb(136, 136, 136);
    --second: #eeeeee;
    --back: #f8f8f8;
}