@import 'root.css';

.shop-container {
    padding-top: 20px;
}
  
.card-img {
    height: 200px;
    object-fit: cover;
}
  
.card-text {
    font-size: 18px;
}
  
  @media (max-width: 767px) {
    .card-img {
      height: 150px;
    }
  
    .card-text {
      font-size: 14px;
    }
}
  